@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/src/assets/cathode-full-screen.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  font-family: 'Press Start 2P', cursive;
  outline: 0;
  width:100%; 
  font-size: 2rem;
  border:2px inset #1018111d;
  padding: 0.8rem;
  background: #4babae;
  border-radius: 0.3rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: rgb(208, 212, 210) 2px 2px;
  margin-top: 30px;
}

button {
  padding: 2% 5%;
  font-size: 1rem;
  background-color: #4babae;
  border:2px inset #1018111d;
  box-shadow: rgb(208, 212, 210) 2px 2px;
  border-radius: 0.3rem;
  outline: 0;
  font-family: 'Press Start 2P', cursive;
}

input:first-of-type {
  margin-bottom: 5px;
}

h2 {
  font-size:1.5rem;
  color: ghostwhite;
}

h2:first-of-type {
  margin-bottom: 0;
}